.footer {
    height: 152px;
    background-color: #02070F;
    padding: 55px 0 43px 0;
    max-width: 1600px;
    margin: 0 auto;
    &__logo {
        font-size: 29px;
        color: $white;
        line-height: 34px;
        text-align: center;
        span {
            color: $yellow;
        }
    }
    &__copyright {
        margin-top: 14px;
        font-size: 12px;
        line-height: 14px;
        color: $white;
        text-align: center;
    }
}