.nav {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}
.header {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }
    &__logo {
        display: block;
        color: $white;
        font-size: 32px;
        text-decoration: none;
        span {
            color: #ffd500;
        }
        &:hover {
            color: $orange;
            text-decoration: none;
        }
    }
    &__links {
        width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        display: block;
        font-size: 17px;
        color: $white;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
            color: $orange;
        }
        .hamburger {
            display: none;
        }
    }
}

    