.header {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    min-width: 1360px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: block;
        color: $orange;
        font-size: 32px;
        text-decoration: none;
        &:hover {
            color: $orange;
            text-decoration: none;
        }
    }
    &__links {
        width: 255px;
        display: flex;
        justify-content: space-between;
    }
    &__link {
        display: block;
        font-size: 17px;
        color: $orange;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
            color: $orange;
        }
    }
}