.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .56);
}

.modal {
    width: 436px;
    min-height: 263px;
    background-color: rgb(43, 41, 41);
    border-radius: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    &__close {
        position: absolute;
        top: -12px;
        right: -40px;
        font-size: 40px;
        color: $yellow;
        cursor: pointer;
    }
    &_mini {
        width: 436px;
        min-height: 163px;
    }
    .error {
        border-bottom: 2px solid #b30d0d8f;;
    }
    label.error {
        border: none;
        color: $white;
        padding-top: 10px;
    }
}

#choose, #thanks {
    display: none;
}
