.promo {
    background: url('../img/bg/bg_intro.jpg') center center/cover no-repeat;
    min-height: 764px;
    // width: 1600px;
    margin: 0 auto;
    &__content {
        padding-top: 225px;
    }
    &__title {
        font-size: 28px;
        color: $white;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 600;
    }
    &__descr {
        margin-top: 14px;
        margin-bottom: 21px;
        font-size: 16px;
        color: $white;
    }
}