.promo {
    position: relative;
    z-index: 1;
    background: url('../img/bg/bg_intro.jpg') center center/cover no-repeat;
    min-height: 764px;
    padding: 205px 0 293px 0;
    &__title {
        font-size: 28px;
        color: $white;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 600;
    }
    &__descr {
        margin-top: 14px;
        margin-bottom: 21px;
        font-size: 16px;
        color: $white;
    }
}