.projects {
    background: url('../img/bg/bg_project.jpg') center center/cover no-repeat;
    min-height: 1000px;
    padding: 156px 0 90px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__text {
        width: 517px;
    }
    &__descr {
        margin-top: 25px;
        font-size: 16px;
        color: $white;
        line-height: 20px;
    }
    &__card {
        &_disabled {
            display: none;
        }
        position: relative;
        &_photo {
            display: block;
        }
        &_info {
            position: absolute;
            top: 17px;
            left: 34px;
        }
        &_name {
            font-size: 68px;
            line-height: 84px;
            font-family: 'Montserrat Alternates', sans-serif;
            font-weight: 900;
            color: $white;
        }
        &_space {
            font-size: 36px;
            line-height: 44px;
            font-family: 'Montserrat Alternates', sans-serif;
            font-weight: 900;
            color: $orange;
        }
        &_bathrooms, &_bedrooms {
            margin-top: 17px;
            font-size: 17px;
            line-height: 20px;
            font-family: 'Montserrat Alternates', sans-serif;
            font-weight: 400;
            color: $white;
            img {
                margin-right: 10px;
                vertical-align: middle;
            }
        }

    }
    &__catalog {
        margin-top: 44px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}